<div class="hold-transition login-page">
 <div class="login-box">
   <div class="login-logo">
     <a href="#">Login</a>
   </div>
   <!-- /.login-logo -->
   <div class="card">
     <div class="card-body login-card-body">
       <p class="login-box-msg">Sign in to start your session</p>



       <form #form="ngForm" (submit)="onSubmit(form)">

         <div class="input-group mb-3">
           <!-- <input name="Username"  #Username="ngModel" [(ngModel)]="service.formData.Username"  type="text" class="form-control" placeholder="Username" required> -->

           <input name="Username" #Username="ngModel" [(ngModel)]="service.formData.Username" type="text"
             class="form-control" placeholder="Username" required>
           <div class="input-group-append">
             <div class="input-group-text">
               <span class="fas fa-envelope"></span>
             </div> 
           </div>
           <div class="validation-error" *ngIf="Username.invalid && Username.touched">This field is required!</div>

         </div>
         <div class="input-group mb-3">
           <!-- <input #Password="ngModel" [(ngModel)]="service.formData.Password"  type="password" class="form-control" placeholder="Password" required> -->
           <input name="Password" #Password="ngModel" [(ngModel)]="service.formData.Password" type="password"
             class="form-control" placeholder="Password" required>

           <div class="input-group-append">
             <div class="input-group-text">
               <span class="fas fa-lock"></span>
             </div>
           </div>
           <div class="validation-error" *ngIf="Password.invalid && Password.touched">This field is required!</div>

         </div>

         <div class="row">
           <!-- /.col -->
           <div class="col-12">
             <button [disabled]="form.invalid" type="submit" class="btn btn-primary btn-block">Sign In</button>
           </div>
           <!-- <a routerLink="/teacher" class="btn btn-link">Register</a> -->
           <!-- /.col -->
         </div>
       </form>
     </div>
   </div>
 </div>
</div>