<div class="card-body">
    <!-- left column -->
    <div class="col-md-9">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Update User</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form #form="ngForm" (submit)="onSubmit(form)">
          <div class="card-body">
            
            <div id="std-form"> 
              <div class="form-group">
                <label for="exampleInputAssignClass2" >Username</label> 
                <input readonly autocomplete="off" name="UserName"  #Username="ngModel" [(ngModel)]="service.formData_ChangePass.Username" type="text" placeholder="Username" class="form-control" required>
                <div class="validation-error" *ngIf="Username.invalid && Username.touched">This field is required!</div>
              </div> 
              <div class="form-group">
                <label for="exampleInputEmail1">Old Password</label>
                <input name="OldPassword"  #OldPassword="ngModel" [(ngModel)]="service.formData_ChangePass.OldPassword" type="text" placeholder="Old Password" class="form-control" required>
                <div class="validation-error" *ngIf="OldPassword.invalid && OldPassword.touched">This field is required!</div>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">New Password</label>
                <input name="NewPassword"  #NewPassword="ngModel" [(ngModel)]="service.formData_ChangePass.NewPassword" type="text" placeholder="New Password" class="form-control" required>
                <div class="validation-error" *ngIf="NewPassword.invalid && NewPassword.touched">This field is required!</div>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Confirm Password</label>
                <input name="ConfirmPassword"  #ConfirmPassword="ngModel" [(ngModel)]="service.formData_ChangePass.ConfirmPassword" type="text" placeholder="Confirm Password" class="form-control" required>
                <div class="validation-error" *ngIf="ConfirmPassword.invalid && ConfirmPassword.touched">This field is required!</div>
              </div>

              <div class="validation-error" *ngIf="( ConfirmPassword.touched) && ConfirmPassword.value != NewPassword.value">New Password and Confirm not matched!</div>
               
 
            </div>
 
          </div>
 

          <div class="card-footer">
            <button [disabled]="form.invalid || NewPassword.value != ConfirmPassword.value" type="submit" class="btn btn-primary">Reset Password</button>
          </div> 
          <!-- /.card-body -->
        </form>
      </div>
    </div>
    <!--/.col (right) -->
  </div>