


    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
          <img src="img/icon.png" id="icon" alt="User Icon" />
        </div>
    
        <!-- Login Form -->
        <form action="/"> 
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username" ng-model="username">
          <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password" ng-model="password">
          <input type="button" class="fadeIn fourth" value="Log In" ng-click="submit();" >
        </form>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    
      </div>
    </div>
     