
*.pdb
Application/WebApi/.vs/WebApi/v16/.suo
*.pdb
*.pdb
*.~pck
Application/WebApi/SchoolMngmnt/obj/Debug/SchoolMngmnt.pdb
*.pdb
Application/WebApi/.vs/WebApi/v16/.suo
*.dll
Application/WebApi/SchoolMngmnt/bin/SchoolMngmnt.pdb
*.pdb
*.~sql
DATABASE.zip
*.zip
