
<form #form="ngForm" (submit)="onSubmit(form)">
    
    <div class="form-group">
        <label>UserName</label>
        <input name="UserName"  #UserName="ngModel" [(ngModel)]="service.formData.UserName" type="text" class="form-control" required>
        <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">This field is required!</div>
    </div>
    
    <div class="form-group">
        <label>First Name</label>
        <input name="FirstName"  #FirstName="ngModel" [(ngModel)]="service.formData.FirstName" type="text" class="form-control" required>
        <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">This field is required!</div>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input name="LastName"  #LastName="ngModel" [(ngModel)]="service.formData.LastName" type="text" class="form-control">
    </div>




    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Email</label>
        <input name="Email"  #Email="ngModel" [(ngModel)]="service.formData.Email" type="text" class="form-control">

      </div>
      <div class="form-group col-md-12">
          <label>PhoneNumber</label>
          <input name="PhoneNumber"  #PhoneNumber="ngModel" [(ngModel)]="service.formData.PhoneNumber" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group">
        <button [disabled]="form.invalid" type="submit" class="btn btn-lg btn-block">SUBMIT</button>
    </div>
  
</form>