 
<div class="card-body"> 
    <table class="table table-striped"> 
        <caption>Teacher List</caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Forename</th>
        <th scope="col">Surename</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of teacherList">
        <th scope="row">{{ item.index }}</th>
        <td>{{item.UserName}}</td>
        <td>{{item.FirstName}}</td>
        <td>{{item.LastName}}</td>
        <td>{{item.RoleName}}</td>
        <td>
          <button type="button" class="btn btn-sm btn-primary" routerLink="/update-user/{{item.UserName}}">Edit</button>
          &nbsp;
          <button *ngIf="isAdmin" type="button" class="btn btn-sm btn-warning" routerLink="/reset-password/{{item.UserName}}">Reset Password</button>
          &nbsp;
          <button type="button" class="btn btn-sm btn-danger">Delete</button>
        </td>
      </tr>

  </table>

  <!-- <div class="d-flex justify-content-between p-2">
     <ngb-pagination [collectionSize]="13" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshTeachers()">
    </ngb-pagination>  
   

     
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshTeachers()">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div> -->


</div>
