/* You can add global styles to this file, and also import other style files */
div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color:red;
}

input.ng-touched.ng-invalid{
    border-color: red;
}

table tr:hover{
    cursor: pointer;
}