 
<div class="card-body"> 
    <table class="table table-striped"> 
        <caption>Pupil List</caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Forename</th>
        <th scope="col">Surename</th>
        <th scope="col">Class</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of studentList">
        <th scope="row">{{ item.index }}</th>
        <td>{{item.UserName}}</td>
        <td>{{item.FirstName}}</td>
        <td>{{item.LastName}}</td>
        <td>{{item.ClassName}}</td>
        <td>
          <button type="button" class="btn btn-sm btn-primary" routerLink="/update-user/{{item.UserName}}">Edit</button>
          &nbsp;
          <button *ngIf="isAdmin" type="button" class="btn btn-sm btn-warning" routerLink="/reset-password/{{item.UserName}}">Reset Password</button>
          &nbsp;
          <button type="button" class="btn btn-sm btn-danger">Delete</button>
        </td>
      </tr>

  </table>
 


</div>
